.comment-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 1rem;
}

.comment-form button {
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  border: none;
  color: white;
  border-radius: 0.4rem;
  height: 3rem;
  cursor: pointer;
  margin-left: 1rem;
}

.comment-form .add-button {
  background-color: #373774;
}

.comment-form .close-button {
  background-color: #7c283d;
}

.comment-form .textarea {
  min-width: 35rem;
  max-width: 40rem;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  height: 5rem;
  background-color: white;
}

.comment-form > .textarea {
}
