.comment-form {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 1rem;
}

.comment-form > .button {
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #373774;
  border: none;
  color: white;
  border-radius: 0.4rem;
  margin: 0 2rem;
  height: 3rem;
  cursor: pointer;
}

.comment-form > .textarea {
  min-width: 35rem;
  max-width: 40rem;
  font-size: 1.3rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  height: 5rem;
  background-color: white;
}

.comment-form > .textarea {
}
